body {
  width: 100%;
}

.error {
    color: red;
    margin-bottom: 10px;
}

nav.nav-error, div.nav-error{
  height: 40px;
  line-height: 40px;
}

nav > div.nav-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

#events > div#new-event-modal {
  position: absolute;
  z-index: 100001;
}
