{{>header currentUser=currentUser title=title}}
<div id="attendfeed">
  <div class="container">
    <h1>Upcoming Events</h1>
    <div class="row">
      {{#each my_events}}
        {{> attendeventsummary}}
      {{else}}
        <p><em>No events yet!</em></p>
      {{/each}}
    </div>
  </div>
</div>
