{{>header currentUser=currentUser title=title}}
<br><br> <!-- Remove these after you do all of the css -->
<div id="attendfeed">
  {{#each my_events}}
    {{> attendeventsummary}}
  {{else}}
    <p><em>No events yet!</em></p>
  {{/each}}

</div>
