<div id="header">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue-grey">
        <a href="/" class="brand-logo">Pocket Planner{{#if title}}<span class="hide-on-small-only">
         | <span class="event-title-header">{{title}}</span></span>{{/if}}</a>

        <a href="#" data-activates="mobile-header" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">

          {{#if currentUser}}
            <li><a id="home-page-link" class="waves-effect waves-light">Home</a></li>
            {{#equal page "todos"}}
              <li><a id="events-page-link" class="waves-effect waves-light">Your Events</a></li>
            {{/equal}}
            <li id="currentUser-header"><a href="#">{{currentUser}}</a></li>
            <li><a id="logout-link" class="waves-effect waves-light" href="#">Logout </a></li>
          {{else}}
            <li><a id="signin-btn" class="waves-effect waves-light" href="#">Sign in </a></li>
            <li><a id="register-btn" class="waves-effect waves-light" href="#">Sign up</a></li>
          {{/if}}

        </ul>
        <ul class="side-nav" id="mobile-header">
          {{#if currentUser}}
            <li><a id="home-page-link" class="waves-effect waves-light">Home</a></li>
            {{#equal page "todos"}}
              <li><a id="events-page-link" class="waves-effect waves-light">Your Events</a></li>
            {{/equal}}
            <li><a id="logout-link" class="waves-effect waves-light currentUser" href="#">Logout</a></li>
          {{else}}
            <li><a id="signin-btn" class="waves-effect waves-light currentUser" href="#">Sign in</a></li>
            <li><a id="register-btn" class="waves-effect waves-light currentUser" href="#">Sign up</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  <script>
    // Used for simple window collapse for mobile and small screens
    $(document).ready(function() {
      $(".button-collapse").sideNav();
    });
  </script>

  <div id="login-modal" class="modal">
    <div class="modal-content">
      <h2>Sign in</h2>
      <div class="row">
        <form id="signin-form" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input name="username" type="email" class="validate" id="username" required>
              <label for="username">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate" id="password" required>
              <label for="password">Password</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" id="login-cancel" class="modal-action modal-close waves-effect waves-green btn-flat btn">Cancel</a>
      <a href="#!" id="login-submit" type="submit" class="waves-effect waves-green btn-flat btn">Submit</a>
    </div>
  </div>

  <div id="signup-modal" class="modal">
    <div class="modal-content">
      <h2>Sign up</h2>
      <div class="row">
        <form id="signup-form" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input name="username" type="email" class="validate" id="username_s" required>
              <label for="username_s">Email</label>
            </div>

            <div class="input-field col s6">
              <input name="confirmusername" type="email" class="validate" id="confirmusername" required>
              <label for="confirmusername">Confirm Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input name="password" type="password" class="validate" id="password_s" required>
              <label for="password_s">Password</label>
            </div>
            <div class="input-field col s6">
              <input name="confirmpassword" type="password" class="validate" id="confirmpassword" required>
              <label for="confirmpassword">Confirm Password</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" id="signup-cancel" class="modal-action modal-close waves-effect waves-green btn-flat btn">Cancel</a>
      <a href="#!" id="signup-submit" type="submit" class="waves-effect waves-green btn-flat btn">Submit</a>
    </div>
  </div>
</div>
