{{> header currentUser=currentUser}}

<div id="homepage">
    <h1>Pocket Planner</h1>
    <p>To create an event login</p>
    <button id="organize-events">Organize</button>
    <button id="attend-events" name="attend">Attend</button>
</div>
