{{> header currentUser=currentUser}}

<div id="tweets">
    <div class="column" id="input-new-tweet">
        <div class="error"></div>
        <label for="new-tweet-input">Post a tweet:</label>
        <textarea type="text" id="new-tweet-input" placeholder="Write stuff here!"/>
        <textarea type="text" id="new-tweet-tags" placeholder="Put your tags here!"/>
        <button id="submit-new-tweet">Post</button>

        <div class="subscribees" id="my_subscribers">
            <span id="new_subscribe">
                <label for="subscribe_to">Subscribe to a user:</label>
                <input type="text" id="subscribe_to" placeholder="Username"/>
                <button id="subscribe">Subscribe</button>
            </span>
            <div class="subscribees" id="followed_users">
                <h2>Users I'm following:</h2>

                {{#each my_subscribes}}
                    {{> subscribe}}
                {{else}}
                    <p><em>No subscribes yet!</em></p>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="column">
        <h2>My Tweets</h2>

        {{#each my_tweets}}
            {{> tweet}}
        {{else}}
            <p><em>No tweets yet!</em></p>
        {{/each}}
    </div>

    <div class="column">
        <h2>All Tweets</h2>

        {{#each all_tweets}}
            {{> tweet}}
        {{else}}
            <p><em>No tweets yet!</em></p>
        {{/each}}
    </div>

    <div class="column" id="my_subscribed_tweets">
        <h2>My Subscribed Tweets</h2>

        {{#each subscribed_tweets}}
            {{> tweet}}
        {{else}}
            <p><em>No tweets yet!</em></p>
        {{/each}}
    </div>


</div>
